# Python virtual environment
venv/

# Python cache files
*.pyc
__pycache__/

# Secrets - DO NOT COMMIT
.env

temp_zips/
uploads/

# User uploaded data files - DO NOT COMMIT
*.zip

# OS-specific files
*.DS_Store